:root{
  --main-bg-color: #231b47;
  --main-text-color: #f17e3b;
  --button-color: #fbeee0;
  --button-border-color: #422800;
}

*{
  box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: monospace;
}
.container{
  background: url(./assets/moroccan-flower.png);
  color: var(--main-text-color);
  font-size: 3rem;
  text-align: center;
  align-items: center;
  gap: 40px;
  height: 100vh;
  text-transform: uppercase;
}

.score-container{
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 10px;
  background: url(./assets/moroccan-flower-dark.png);
  color:#ccc;
  position: relative;
  height: 25%;
  box-shadow: #422800 4px 4px 0 0;
}
.computer-score, .player-score{
  font-size: 50px;
  display: flex;
  text-align: center;
}
.right,.left{
 height: 100%;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 gap: 2rem;
}

.btn-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 25%;
}
input{
  background-color: var(--button-color);
  border: 2px solid var(--button-border-color);
  border-radius: 5%;
  box-shadow: #422800 4px 4px 0 0;
  color: var(--button-border-color);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 3rem;
  padding: 0 18px;
  line-height: 50px;
  height: 5rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
input:hover {
  background-color: #fff;
}

input:active {
  box-shadow: var(--button-border-color) 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.message{
  font-size: 3rem;
  padding: 2rem 0;
  font-weight: 500;
}
.result{
  font-size: 3rem;
  padding: 2rem 0;
  font-weight: 500;
}
@media (max-width: 550px) {
  html,body{
    overflow-x: hidden;
  }
  .score-container{
    width: 100vw;
    font-size: 2rem;
  }
  .computer-score, .player-score{
    text-align: center;
    font-size: 3rem;
  }
 
  .btn-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
  }
  input {
    width: 12rem;
    padding: 0 25px;
    font-size: 2rem;
  }
  .message{
    font-size: 2rem;
    padding: 2rem 0;
    font-weight: 500;
  }
  .result{
    font-size: 1.5rem;
    padding: 2rem 0;
    font-weight: 500;
  }
}

